/* SHARED */
h1{
	color: #404040;
}

h2{
	color: #4d4d4d;
	font-size:2.6vw !important;
	margin-top:-1.5vw;
}

.inline-block{
	display:inline-block;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
	::-webkit-scrollbar {
	    width: 0px;  /* Remove scrollbar space */
	    background: transparent;  /* Optional: just make scrollbar invisible */
	}
	/* Optional: show position indicator in red */
	::-webkit-scrollbar-thumb {
	    background: #FF0000;
}
hr {
	opacity: 0.3;
}

/* END SHARED */


/* LANDING PAGE */
#main-title{
	text-align:center;
	padding-top:25vh;
}

.primary-title{
	font-size:5vw;
	line-height:100%;
	font-weight:500;
}

.secondary-title{
	font-size:3vw;
	line-height:5%;
	font-weight:100;
}

#see-more-btn{
	color:#ff6666;
	font-size:1.5vw;
	padding:10px 12px 10px 12px;
	border:1px solid #ff6666;
	border-right:0.5px solid #ff6666;
	border-left:0.5px solid #ff6666;
	background: linear-gradient(to right, #fb5b5a 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-out;
}

#see-more-btn:hover{
	background-color:#ff6666;
	border:1px solid #ff6666;
	border-left:0.5px solid #ff6666;
	border-right:0.5px solid #ff6666;
	color:white;
	background-position: left bottom;
}
/* END LANDING PAGE */

/* ABOUT */
.about-title{
	display:inline-block;
	font-weight:500;
	padding-left:16vw;
	padding-top:10vh;
}

.about-text{
	display:inline-block;
	width:50vw;
	margin-right:10vw;
	float:right;
	font-size:2vw;
}

.experience-title{
	display:inline-block;
	font-weight:500;
	padding-left:16vw;
	padding-top:10vh;
}

.experience-text{
	display:inline-block;
	width:50vw;
	margin-right:10vw;
	float:right;
	font-size:2vw;
}

#experience-div{
	padding-top:22vh;
}
/* END ABOUT */

/* SKILLS */
#skills-title{
	font-weight:500;
	font-size:4vw !important;
	border-bottom:3px solid #ff6666;
	line-height:4.5vw;
	float:left;
	margin-left:10vw;
	margin-top:14vh;
	position:absolute;
}

#skills-buttons-div{
	text-align:center;
	padding-left:2%;
	width:100%;
	position:absolute;
}

#design-btn-div, #dev-btn-div{
	display:inline-block;
	cursor: pointer;
}

.skills-active{
	color: #454545;
	cursor:auto;
}

.skills-inactive, .skills-inactive-slash{
	color: #BABABA;
	transition:0.2s ease;
}
.skills-inactive:hover{
	color: #e6e6e6;
}

.skills-icon-div{
	padding-top:5vw;
	display:inline-block;
	text-align:center;
}

.skill-icon{
	width:16vw;
	max-width:140px;
	margin:0vw 0vw 40px 40px;
	display:inline-block;
}

#development-skills-icons{
	display:none;
}
/* END SKILLS */

/* WORK */
#filter-buttons{
	text-align:center;
	padding-bottom:5%;
}
.filter-btn{
	margin-left:2%;
	font-size:1.6vw;
	padding:5px 10px;
	cursor:pointer;
	user-select:none;
}
.filter-btn:hover{
	transition:0.2s ease-in-out;
	color:#a6a6a6;
}
.filter-btn-selected{
	color:#ff6666;
	border:0.1vw solid #ff6666;
	cursor:default;
}
.filter-btn-selected:hover{
	color:#ff6666;
}
#work-title{
	font-weight:500;
	font-size:4vw !important;
	border-bottom: 3px solid #ff6666;
	line-height:4.5vw;
	/*font-family:'Roboto Mono';*/
	display:inline-block;
}
#work-imgs-div{
	text-align:center;
	margin-top:-7.5vh;
}
.work-img-div{
	display:inline-block;
	vertical-align: middle;
	width:22vw;
	padding:2.5vw 2vw;
}
.phone-icon{
	width:11vw;
}
.phone-icon-lg{
	width:12vw;
}
.web-icon{
	width:22vw;
}
.book-icon{
	width:15vw;
}
.poster-icon{
	width:14vw;
}
.work-icon{
	display:inline-block;
	transition: transform .2s;

}
.work-icon:hover{
	/*opacity:0.8;*/
	transform: scale(1.18);
}


/* END WORK */

/* CONTACT */
#contact-title{
	display:block;
	float:left;
	font-weight:500;
	margin-left:22vw;
	font-size:4vw !important;
	border-bottom:3px solid #ff6666;
	line-height:4.5vw;
}

#form-div{
	text-align:center;
	margin: 0 10%;
}

input[type=text], textarea {
	font-size:14px;
	width: 70%;
	display:inline-block;
	padding: 12px;
	border: 1px solid #707070;
	border-radius: 12px;
	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
}

input[type=submit] {
	display:inline-block;
  	background-color: #ff6666;
  	border: 1px solid #ff6666;
  	color: white;
  	padding: 12px 20px;
  	font-size:14;
  	border-radius: 25px;
  	cursor: pointer;
  	transition: all 0.4s ease-out;
}

input[type=submit]:hover {
	color:#ff6666;
	background-color:transparent;
	border: 1px solid #ff6666;
}
/* END CONTACT */

/* BOTTOM CONTENT */
#bottom-content{
	text-align:center;
	padding-top:10%;
	font-size:1.2vw;
}
#footer-line2{
	margin-top:0.5%;
	font-size:1.1vw;
}
/*END BOTTOM CONTENT */

/* FOOTER */
.footer-img{
	display:block;
	width:3.25vw;
	padding-bottom:1.25vh;
}
.mail-container, .linkedin-container, .github-container, .behance-container {
    width: 3.25vw;
  	height: 3.25vw;
}
.mail-container {
  	background: url(images/footer/mail-light.png) center center no-repeat;
    background-size: contain;
}
.linkedin-container {
  	background: url(images/footer/linkedin-light.png) center center no-repeat;
    background-size: contain;
}
.github-container {
  	background: url(images/footer/github-light.png) center center no-repeat;
    background-size: contain;
}
.behance-container {
  	background: url(images/footer/behance-light.png) center center no-repeat;
    background-size: contain;
}
.mail-container:hover {
  	background-image: url(images/footer/mail-dark.png);
  	 -webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
.linkedin-container:hover {
  	background-image: url(images/footer/linkedin-dark.png);
  	-webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;

}
.github-container:hover {
  	background-image: url(images/footer/github-dark.png);
  	-webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
.behance-container:hover {
  	background-image: url(images/footer/behance-dark.png);
  	-webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
#home-footer{
	position:fixed;
	left:96vw;
	bottom:0;
}
/* END FOOTER */

body{
	font-family:'Avenir', Helvetica, sans-serif;
	font-size:17px;
	margin:0;
	padding:0px;
	color:#454545;
	background-repeat: no-repeat;
	min-height:100%;
}

#header-logo{
	width:45px;
	height:45px;
	float:left;
}

.header-logo-div{
	left:15px;
	position:fixed;
	opacity:0.9;
	z-index:2;
}

.back-arrow-container{
	transition: 0.8s ease;
	width:2.6vw;
	height:2.6vw;
	background: url(images/back-arrow-white.png) center center no-repeat;
    background-size: contain;
}

.back-arrow-container:hover{
	background: url(images/back-arrow.png) center center no-repeat;
    background-size: contain;
}

.back-arrow-div{
	position:fixed;
	opacity:0.9;
	z-index:2;
	padding:1% 0 0 0.5%;
}

#nightmode-icon{
	float:right;
	width:2.5vw;
	padding:1%;
}

.nightmode-div{
	position:absolute;
	right:15px;
	top:70px;
	opacity:0.9;
	z-index:2;
}

.container{
	margin:0 auto;
	width:100%;
	max-width:1800px;
	position:relative;
}

nav {
	width:100%;
	position:fixed;
	font-size:21;
	margin-top:-5px;
	padding-top:1.5vh;
	padding-bottom:1vh;
	z-index:1;
	background-color:#ffffff;
	opacity: 0.90;
	border-bottom: 1px solid #DCDEE2;
/*	-webkit-box-shadow: 0px 5px 30px 0px rgba(100, 100, 100, 0.1);
	-moz-box-shadow:    0px 5px 30px 0px rgba(100, 100, 100, 0.1);
	box-shadow:         0px 5px 140px 50px rgba(190, 190, 190, 0.1);*/
}

a {
	text-decoration:none;

}

#nav-div{
	padding-right:2vw;
	text-align:right;
}

nav a{
	font-family: "Avenir", "Helvetica", sans-serif;
	color:#4d4d4d;
	margin-left:2.5vw;
	transition:0.2s ease;
	font-size:17px;
}

nav a#about-nav:hover{
	color:#ff6666;
}
nav a#skills-nav:hover{
	color:#ffa64d;
}
nav a#work-nav:hover{
	color:#66cc97;
}
nav a#contact-nav:hover{
	color:#4d88ff;
}
/*.header-link{
	font-family: "Avenir Next", "Helvetica", sans-serif;
	border:2px #262626 solid;
	color:#262626;
	margin-right:4%;
	padding:0.5% 1% 0.5% 1%;
}*/

.currentPg{
	border-bottom:1.5px #999999 solid;
}

.home-title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:36;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:48;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.content-right{
	position:relative;
	float:right;
	width:50%;
}

img{
	width:auto;
	max-width:100%;
	height:auto;
}

.contact-img{
	width:10%;
	padding:5%;
}

.div-contact-images{
	text-align:center;
}

.div.contact-btn{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width:120px;
}

.caption{
	display:block;
}

/* portfolio.html */

.split{
	width:50%;
	padding-top:15%;
	margin-top:5%;
	top:0;
	overflow-x:hidden;
	min-height:40vh;
}

.left{
	float:left;
	text-align:center;
	background-color:#d9d9d9;
}

.right{
	float:right;
	text-align:center;
	background-color:#1a1a1a;
}

a.s{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#1a1a1a;
	vertical-align:middle;
}

a.p{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#f2f2f2;

}


/* * */

/* student-portfolio.html */
.portfolio-img{
	width:300px;
	height:300px;
}

.smaller {
	object-fit: contain; width:300px; height:300px;
}
.portfolio-img-div{
	display:inline-block;
	padding-right:7%;
	padding-top:7%;
}
figcaption{
	padding-top:0.5vw;
	text-align:center;
	color:#262626;
}

.project-image{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:50%;
	/*border:1px solid #e8e8e8;*/
	border-radius:10px;
	margin-top:1%;
	margin-bottom:2%;
	margin-left:3%;
	float:left;
}

.project-image-phone{
	width:50%;
	border:1px solid #e8e8e8;
	border-radius:10px;
	margin-top:1%;
	margin-bottom:2%;
	margin-right:3%;
	float:right;
}

.no-border{
	border:0;
}

.project-text-div{
	font-size:24px;
	width:40%;
	float:right;
	margin-left:57%;
	margin-top:2%;
	position:fixed;
}

.mobile-text{
	font-size:2vw;
	width:40%;
	float:right;
	margin-left:50vw;
	margin-top:2%;
	position:absolute;
}

.project-img-div{
	font-size:24px;
	width:30%;
	float:right;
	margin-left:3%;
	margin-top:2%;
}

.project-text-div h2{
	margin-bottom:12px; 
	color:#404040;
}

.portfolio-content{
	display:inline-block; 
	padding-top:5%;
}

.app-animations{
	display:inline-block;
	width:100%;
	padding-top:4%;
	float:left;
}

/* * */

/* professional-portfolio.html */

@media screen and (max-width: 1050px) {
    .project-text-div{
    	font-size: 20px;
    }
}

@media screen and (max-width: 675px) {
    .project-text-div{
    	font-size: 16px;
    }
}

@media screen and (max-width: 1350px) {
    #footer-portfolio{
    	bottom:0;
    	position:absolute;
    }
}

/* * */

 /* about.html */
.about-body{
	margin-top:5%;
	margin-bottom:40px;
	padding:0% 10% 0% 10%;
	text-align:justify;
	position:relative;
	float:block;
}

.skills{
	margin-left:14%;
}

li{
	margin-left:14%;
}

#profile-img{
	width:150px;
	height:150px;
	float:right;
	padding:0% 10% 0% 2%;
	margin-top:5%;
	border-radius:4px;
}

.blur{
	webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

/*SLIDESHOW*/
.mySlides {
	display: none;

}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	bottom:10;
	padding-left:10vw;
	width:50vh;
	float:left;
	position: relative;
}

.mySlides img{
	margin-left:3%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 2px 18px;
  color: #454545;
  font-weight: bold;
  font-size: 3vw;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -1vw;
}
.prev{
	margin-left:-2vw;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Caption text */
.slideshow-caption {
  font-size: 1.7vw;
  font-weight:500;
  margin-top:-5%;
  width: 100%;
  text-align: center;
  user-select: none;
}

.dot-div{
	text-align:center;
	margin-top:-5%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*END SLIDESHOW*/
