/* SHARED */
h1{
	color: #404040;
}

h2{
	color: #595959;
	font-size:2.6vw !important;
	margin-top:-1.5vw;
}

.inline-block{
	display:inline-block;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
	::-webkit-scrollbar {
	    width: 0px;  /* Remove scrollbar space */
	    background: transparent;  /* Optional: just make scrollbar invisible */
	}
	/* Optional: show position indicator in red */
	::-webkit-scrollbar-thumb {
	    background: #FF0000;
}
hr {
	opacity: 0.3;
}
/* END SHARED */


/* LANDING PAGE */
#main-title{
	text-align:center;
	padding-top:25vh;
}

.primary-title{
	font-size:5vw;
	line-height:100%;
	font-weight:500;
}

.secondary-title{
	font-size:3vw;
	line-height:5%;
	font-weight:100;
}

#see-more-btn{
	color:#ff6666;
	padding:10px 12px 10px 12px;
	border:1px solid #ff6666;
	background: linear-gradient(to right, #fb5b5a 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-out;
	z-index:100;
}

#see-more-btn:hover{
	background-color:#ff6666;
	border:1px solid #ff6666;
	color:white;
	background-position: left bottom;
}
/* END LANDING PAGE */

/* ABOUT */
.about-title{
	display:inline-block;
	font-weight:500;
	padding-left:16vw;
	padding-top:5.2%;
}

.about-text{
	display:inline-block;
	width:50vw;
	margin-right:10vw;
	float:right;
	font-size:2vw;
}

#experience-div{
	padding-top:20vh;
}
/* END ABOUT */

/* SKILLS */
#skills-title{
	font-weight:500;
	font-size:4vw !important;
	float:left;
	padding-left:10vw;
	margin-top:8vw;
	position:absolute;
}

#skills-buttons-div{
	text-align:center;
	padding-left:2%;
	width:100%;
	position:absolute;
}

#design-btn-div, #dev-btn-div{
	display:inline-block;
	cursor: pointer;
}

.skills-active{
	color: #454545;
	cursor:auto;
}

.skills-inactive, .skills-inactive-slash{
	color: #BABABA;
}
.skills-inactive:hover{
	color: #e6e6e6;
}

.skills-icon-div{
	padding-top:5vw;
	display:inline-block;
	text-align:center;
}

.skill-icon{
	width:16vw;
	max-width:140px;
	margin:0vw 0vw 40px 40px;
	display:inline-block;
}

#development-skills-icons{
	display:none;
}
/* END SKILLS */

/* WORK */
#work-title{
	display:inline-block;
	font-weight:500;
	font-size:5vw;
}
#work-imgs-div{
	text-align:center;
}
.phone-icon{
	width:10vw;
}
.web-icon{
	width:20vw;
}
.book-icon{
	width:14vw;
}
.poster-icon{
	width:13vw;
}
.work-icon{
	display:inline-block;
	margin:1vw 6vw 5vw 6vw;
	transition: transform .2s;

}
.work-icon:hover{
	/*opacity:0.8;*/
	transform: scale(1.2);
}


/* END WORK */

/* CONTACT */
#contact-title{
	display:block;
	float:left;
	font-weight:500;
	padding-left:22vw;
}

#form-div{
	padding-top:5%; 
	text-align:center;
	margin: 0 10%;
}

input[type=text], textarea {
	font-size:14px;
	width: 70%;
	display:inline-block;
	padding: 12px;
	border: 1px solid #707070;
	border-radius: 12px;
	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
}

input[type=submit] {
	display:inline-block;
  	background-color: #ff6666;
  	border: 1px solid #ff6666;
  	color: white;
  	padding: 12px 20px;
  	font-size:14;
  	border-radius: 25px;
  	cursor: pointer;
  	transition: all 0.4s ease-out;
}

input[type=submit]:hover {
	color:#ff6666;
	background-color:transparent;
	border: 1px solid #ff6666;
}
/* END CONTACT */

/* BOTTOM CONTENT */
#bottom-content{
	text-align:center;
	padding-top:20%;
	font-size:1.4vw;
}
#footer-line2{
	margin-top:0.75%;
	font-size:1.5vw;
}
/*END BOTTOM CONTENT */

/* FOOTER */
.footer-img{
	display:block;
	width:3.25vw;
	padding-bottom:1.25vh;
}
.mail-container, .linkedin-container, .github-container, .angellist-container {
    width: 3.25vw;
  	height: 3.25vw;
  	-webkit-transition: all .4s ease-in-out;
 	-moz-transition: all .4s ease-in-out;
  	transition: all .4s ease-in-out;
}
.mail-container {
  	background: url(images/footer/mail-dark.png) center center no-repeat;
    background-size: contain;
}
.linkedin-container {
  	background: url(images/footer/linkedin-dark.png) center center no-repeat;
    background-size: contain;
}
.github-container {
  	background: url(images/footer/github-dark.png) center center no-repeat;
    background-size: contain;
}
.angellist-container {
  	background: url(images/footer/angel-dark.png) center center no-repeat;
    background-size: contain;
}
.mail-container:hover {
  	background-image: url(images/footer/mail-light.png);
}
.linkedin-container:hover {
  	background-image: url(images/footer/linkedin-light.png);
}
.github-container:hover {
  	background-image: url(images/footer/github-light.png);
}
.angellist-container:hover {
  	background-image: url(images/footer/angel-light.png);
}
#home-footer{
	position:fixed;
	left:96vw;
	bottom:0;
}
/* END FOOTER */

body{
	font-family:Avenir, Helvetica, sans-serif;
	font-size:17px;
	margin:0;
	padding:0px;
	color:#454545;
	background-repeat: no-repeat;
	min-height:100%;
}

#header-logo{
	width:45px;
	height:45px;
	float:left;
}

#nightmode-icon{
	float:right;
	width:2.5vw;
	padding:1%;
}

.header-logo-div{
	top:5px;
	left:15px;
	position:fixed;
	opacity:0.9;
	z-index:2;
}

.nightmode-div{
	position:absolute;
	right:15px;
	top:70px;
	opacity:0.9;
	z-index:2;
}

.container{
	margin:0 auto;
	width:100%;
	max-width:1800px;
	position:relative;
}

nav {
	width:100%;
	position:fixed;
	font-size:21;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
	z-index:1;
	background-color:#ffffff;
	opacity: 0.95;
	/*border-bottom: 1px solid #EBEBEB;*/
	-webkit-box-shadow: 0px 5px 30px 0px rgba(100, 100, 100, 0.1);
	-moz-box-shadow:    0px 5px 30px 0px rgba(100, 100, 100, 0.1);
	box-shadow:         0px 5px 30px 0px rgba(100, 100, 100, 0.1);
}

a {
	text-decoration:none;
}

#nav-div{
	padding-right:2vw;
	text-align:right;
}

nav a{
	font-family: "Avenir Next", "Helvetica", sans-serif;
	color:#4d4d4d;
	margin-left:3vw;
}

nav a#about-nav:hover{
	color:#ff6666;
}
nav a#skills-nav:hover{
	color:#ffa64d;
}
nav a#work-nav:hover{
	color:#66cc97;
}
nav a#contact-nav:hover{
	color:#4d88ff;
}
/*.header-link{
	font-family: "Avenir Next", "Helvetica", sans-serif;
	border:2px #262626 solid;
	color:#262626;
	margin-right:4%;
	padding:0.5% 1% 0.5% 1%;
}*/

.currentPg{
	border-bottom:1.5px #999999 solid;
}

.home-title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:36;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:48;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.content-right{
	position:relative;
	float:right;
	width:50%;
}

img{
	width:auto;
	max-width:100%;
	height:auto;
}

.contact-img{
	width:10%;
	padding:5%;
}

.div-contact-images{
	text-align:center;
}

.div.contact-btn{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width:120px;
}

.caption{
	display:block;
}

/* portfolio.html */

.split{
	width:50%;
	padding-top:15%;
	margin-top:5%;
	top:0;
	overflow-x:hidden;
	min-height:40vh;
}

.left{
	float:left;
	text-align:center;
	background-color:#d9d9d9;
}

.right{
	float:right;
	text-align:center;
	background-color:#1a1a1a;
}

a.s{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#1a1a1a;
	vertical-align:middle;
}

a.p{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#f2f2f2;

}


/* * */

/* student-portfolio.html */
.portfolio-img{
	width:300px;
	height:300px;
}

.smaller {
	object-fit: contain; width:300px; height:300px;
}
.portfolio-img-div{
	display:inline-block;
	padding-right:7%;
	padding-top:7%;
}
figcaption{
	padding-top:0.5vw;
	text-align:center;
	color:#262626;
}

.project-image{
	width:50%;
	border:1px solid #cccccc;
	border-radius:5px;
	margin-top:3%;
	margin-right:3%;
	float:right;
}
.no-border{
	border:0;
}

.project-text-div{
	font-size:24px;
	width:40%;
	float:left;
	margin-left:3%;
	margin-top:2%;
	position:fixed;
}

.project-text-div h2{
	margin-bottom:12px; 
	color:#404040;
}

.portfolio-content{
	display:inline-block; 
	padding-top:8%;
}

/* * */

/* professional-portfolio.html */

@media screen and (max-width: 1050px) {
    .project-text-div{
    	font-size: 20px;
    }
}

@media screen and (max-width: 675px) {
    .project-text-div{
    	font-size: 16px;
    }
}

@media screen and (max-width: 1350px) {
    #footer-portfolio{
    	bottom:0;
    	position:absolute;
    }
}

/* * */

 /* about.html */
.about-body{
	margin-top:5%;
	margin-bottom:40px;
	padding:0% 10% 0% 10%;
	text-align:justify;
	position:relative;
	float:block;
}

.skills{
	margin-left:14%;
}

li{
	margin-left:14%;
}

#profile-img{
	width:150px;
	height:150px;
	float:right;
	padding:0% 10% 0% 2%;
	margin-top:5%;
	border-radius:4px;
}

.blur{
	webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}
