body{
	font-family:Avenir, Helvetica, sans-serif;
	font-size:17px;
	margin:0;
	padding:0;
	color:#262626;
	background-color: #f2f2f2;
	/*background-image: url(images/home-img.png);
	background-position: left bottom;
	background-repeat: no-repeat;*/
}

#header-logo{
	width:100px;
	height:100px;
	padding:1%;
	float:left;
}

.header-logo-div{
	top:15px;
	left:15px;
	position:absolute;
	opacity:0.9;
}

#home-footer{
	position:absolute;
	bottom:0;
}

.container{
	margin:0 auto;
	width:100%;
	max-width:1800px;
	position:relative;
}

nav {
	font-size:22;
	margin-top:3%;
	text-align:center;
}

a {
	text-decoration:none;

}
nav a{
	font-family: "Avenir Next", "Helvetica", sans-serif;
	border:2px #262626 solid;
	border-radius:3px;
	color:#262626;
	margin-right:4%;
	padding:0.5% 1% 0.5% 1%;
}

.currentPg{
	font-weight:600;
	border:3px #262626 solid;
}

.home-title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:36;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.title{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:48;
	font-weight:500;
	padding-top:2%;
	text-align:center;
}

.content-right{
	position:relative;
	float:right;
	width:50%;
}

img{
	width:auto;
	max-width:100%;
	height:auto;
}

.contact-img{
	width:10%;
	padding:5%;
}

.div-contact-images{
	text-align:center;
}

.div.contact-btn{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width:120px;
}

.caption{
	display:block;
}

/* portfolio.html */

.split{
	width:50%;
	padding-top:15%;
	margin-top:5%;
	top:0;
	overflow-x:hidden;
	min-height:40vh;
}

.left{
	float:left;
	text-align:center;
	background-color:#d9d9d9;
}

.right{
	float:right;
	text-align:center;
	background-color:#1a1a1a;
}

a.s{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#1a1a1a;
	vertical-align:middle;
}

a.p{
	font-family:"Baskerville", "EB Garamond", serif;
	font-size:32;
	color:#f2f2f2;

}


/* * */

/* student-portfolio.html */
.portfolio-img{
	width:300px;
	height:300px;
}

.smaller {
	object-fit: contain; width:300px; height:300px;
}
.portfolio-img-div{
	display:inline-block;
	padding-right:7%;
	padding-top:7%;
}
figcaption{
	padding-top:2%;
	text-align:center;
	color:#262626;
}

.project-image{
	width:50%;
	padding-top:3%;
	padding-right:3%;
	float:right;
}

.project-text-div{
	font-size:24px;
	width:40%;
	float:left;
	margin-left:3%;
	margin-top:2%;
	position:fixed;
}

/* * */

/* professional-portfolio.html */



/* * */

 /* about.html */
.about-body{
	margin-top:5%;
	margin-bottom:40px;
	padding:0% 10% 0% 10%;
	text-align:justify;
	position:relative;
	float:block;
}

.skills{
	margin-left:14%;
}

li{
	margin-left:14%;
}

#profile-img{
	width:150px;
	height:150px;
	float:right;
	padding:0% 10% 0% 2%;
	margin-top:5%;
	border-radius:4px;
}

.blur{
	webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

footer{
	font-size:14;
	text-align:center;
	width:100%;
	bottom:0;
}